<div class="container p4">
<div class="wrap">
     <div class="col">
             <dl class="row">
                        <h1 class="display-6">PROCESO DE COMPRA</h1>
                            <dt class="col-12">PASO 1 - CONTACTO INICIAL </dt>
                            <dd class="col-12">Una vez tengas elegido el producto, puedes ponerte en contacto con 
                                nosotros por email:piramicasa@gmail.com</dd>

                            <dt class="col-12">PASO 2 - ENVÍANOS UN EMAIL O LLÁMANOS CON LOS DATOS INDICADOS </dt>
                            <dd class="col-12">Nos ponemos en contacto contigo por teléfono o email para responder a tu solicitud
                                 e intercambiamos respuestas hasta que tengas todo claro.
                                  En estas conversaciónes se determinará la fecha de pago y la fecha de envío o instalación según el caso.</dd>

                            <dt class="col-12">PASO 3 - PAGO DE LOS PRODUCTOS</dt>
                            <dd class="col-12" >MODO DE PAGO:
Podemos enviarle un correo a su e-mail desde la página de Paypal, con el costo de transferencia de 3,7 % del total.
 Puede pagar por otros medios como transferencia bancaria. No utilizamos MoneyGram ni Western Union.</dd>

                            <dt class="col-12">PASO 4 - ENVÍO </dt>
                            <dd class="col-12">Una vez realizado el pago procederemos a enviar o instalar las 
                                pirámides según la fecha acordada.
Siempre podrás preguntarnos en relación a tu pirámide, estaremos encantados de atenderte.</dd>
                    
        </dl>           
        </div>       
  </div>
</div>