<div class="container-fluid" >
<div class="wrap">
    <h1 class="display-6">TERMINOS Y CONDICIONES</h1>
    <h4><strong>TERMINOS</strong></h4>
                    
<p>Los términos para la contratación de cualquiera de nuestros variados servicios se establecen en privado con el
     cliente, siempre bajo las condiciones legales y de este documento. Piramicasa, como conjunto de Derechos
      Intelectuales y Gabriel Silva como Autor de los mismos, garantiza que los usuarios han de ser informados
       adecuadamente ANTES de contratar el servicio, pero podrán contar con asesoría posterior sobre cualquier duda 
       en el uso, incidencias, efectos y demás asuntos por medio de los foros de Piramicasa, por correo electrónico 
       o por teléfono. Los productos no poseen elementos mecánicos que puedan desgastarse con el uso pero PYRAMID
        se compromete a reponer cualquier parte que pudiera quedar defectuosa en el lapso de un año. 
        </p>       

         <div class="col">
             <dl class="row">
                 <h4><strong>CONDICIONES GENERALES DE USO</strong></h4>
                            <dd class="col-12"> Se podrá autorizar el uso de todos los diseños de PYRAMID,
                                para empresas y particulares, siendo éstos responsables únicos por las modificaciones
                                 que realicen sobre dichos diseños, así como por los daños que puedan causarse o causar 
                                 a terceros por negligencias, errores de aplicación, por las diferencias de calidades
                                  de los materiales empleados o por incompletitud del conocimiento sobre los aparatos 
                                  piramidales y sus usos.</dd>

                            <dd class="col-12">Se reserva el derecho de desalentar todo proyecto de realización 
                                defectuosa que pueda ser dañino para las personas, animales o plantas por un uso 
                                inadecuado de las pirámides, porque ello perjudicaría al público y a la piramidología como 
                                disciplina técnico-científica.</dd>

                            <dd class="col-12" >Esta web no es para comercio electrónico, aunque facilitemos un correo electrónico 
                                como contacto, ya que las llamadas telefónicas internacionales serían una exigencia burda e 
                                innecesaria. El correo personal del Autor piramicasa@gmail.com se gestiona en páginas web de 
                                Google y no en programas propios. Cada interesado ha de contactar directamente con el Autor 
                                para solicitar información detallada, que será acorde a cada caso en particular, para lo que 
                                deberá sumistrar información que se tratará bajo la más estricta política de privacidad.</dd>

                            <dd class="col-12">La responsabilidad sobre los envíos se comparte con las empresas de transporte de las que
                                 PYRAMID es cliente, pero ni PYRAMID ni los transportistas son responsables de los problemas que 
                                 pueden emerger en algunas aduanas, a causa de la corrupción de sus empleados, o las medidas sorpresivas
                                  de restricciones de ingreso de algunos países. En dichos casos sólo nos comprometemos a ayudar a tramitar
                                   de común acuerdo las soluciones posibles.</dd>
                    
        </dl>           
        </div>      
           
  </div>
</div>