<div class="container-fluid p4">
<div class="wrap">
    <h1 class="display-6">DEVOLUCIONES</h1>
                           
<p>Los clientes son debidamente informados de las características de cada servicio y/o producto, quedando registro en 
    la correspondencia de la información suministrada por PYRAMID, como de la satisfacción y aveniencia del cliente. 
    El acuerdo se establece de tal modo y completitud de datos, que las partes reconocen y aceptan las clausulas 
    establecidas en la legislación de cada país.
El servicio se encuentra finalizado y realizado una vez que la asesoría general ha sido dada ANTES del aporte material 
recibido o instalado, por lo tanto luego de la recepción o instalación, no existe motivo de desistimiento ni devolución 
de los productos una vez enviados o instalados.
En el caso de roturas por transporte, ante los cuales PYRAMID se hace responsable de los reclamos pertinentes
 a la empresa transportista o de correos y la reparación o reemplazo del producto para el cliente en el plazo más 
 breve posible. Por lo tanto el cliente reconoce y acepta una vez finalizado el servicio, que no existe ni desea
  reembolso económico alguno en virtud de tales acuerdos de las partes y disposiciones oficiales. Los plazos para
  envíos o instalaciones constan en las comunicaciones y contratos entre el Autor y el consumidor.</p>          
           
  </div>
</div>