<div class="container-fluid" >
<div class="wrap">
    <h1 class="display-6">POLÍTICA DE PRIVACIDAD</h1>

         <div class="col">
             <dl class="row">
                 <dt>1.- General: La privacidad de nuestros Usuarios y colaboradores, es sagrada.</dt>
                            <dd class="col-12"> Las imágenes que aparecen en web son de usuarios que lo han autorizado y
                                 no se suministran sus datos.
Los domicilios particulares de nuestros Usuarios sólo son conocidos por los instaladores, indefectiblemente
 directivos y/o asociados de PYRAMID Gabriel Silva, autorizando la labor de empleados únicamente con acuerdo del
  cliente.</dd>

                        <dt>2.- Terapias:</dt>
                            <dd class="col-12"> Los datos suministrados por usuarios tratados con terapia piramidal,
                                 como los médicos y terapeutas intervinientes en cualquier país, sólo serán expuestos cómo,
                                  cuándo y ante quién los mismos así lo soliciten o autoricen..</dd>

                            <dt>3.- PYRAMID es una entidad unipersonal, pseudónimo técnico del Autor:</dt>
                            <dd class="col-12" >Dedicada a la investigación, asesoría, fabricación e instalación de pirámides terapéuticas, 
                                preventivas y/o curativas, según recomendación médica y bajo los protocolos de seguridad establecidos por 
                                el Consejo Científico Nacional de Medicina de La Habana y otras instituciones médicas, así como con el 
                                asesoramiento de médicos y terapeutas de diversos países con larga experiencia en su aplicación. Por lo tanto 
                                PYRAMID no es un centro sanitario ni actúa como tal, no receta ni interviene en las elecciones médicas de los 
                                usuarios.</dd>
                    
        </dl>           
        </div>      
           
  </div>
</div>