
<footer id="footer" class="pb-4 pt-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <h4>PYRAMID</h4>
                <p>Catálogo de modelos de camas piramidales con propiedades especiales u terapéuticas</p>
            </div>
             <div class="col-12 col-lg">
                <h4>INFORMACION</h4>
                <dl><a href="#">¿Cómo comprar?</a></dl>
                 <dl><a href="/devoluciones">Devoluciones</a></dl>
                <dl><a href="/terminos">Terminos y condiciones</a></dl>
                 <dl><a href="/politicas">Politicas</a></dl>
            </div>
             <div class="col-12 col-lg ">
                <h4>CONTACTO</h4>
                <p>Puedes comunicarte con nosotros llenando la forma de contactanos</p>
                    <p>Telefono: (+34) 639284787</p>
                    <p>Correo electrónico: piramicasa@gmail.com</p>
                     
            </div>
             <div class="col-12 col-lg">
                <h4>AVALADOS CIENTIFICAMENTE</h4>
                    <p>CENAMENT: El Consejo Científico del Centro Nacional de Medicina Natural y 
                        Tradicional, de La Habana, Cuba, considera válidas las evidencias clínicas presentadas sobre el 
                        valor terapéutico del EFECTO PIRAMIDAL.</p>
                        <a href="img/aval.jpg"> VER AVAL </a>
            </div>
        </div>
    </div>
</footer>