<div class="container p-4">

        <div class="wrap">
              <dl class="row">
                <h1 class="display-6" align="center">CUENTA</h1>
                <div><h4>Datos de la cuenta</h4></div>

                <dt class="col-sm-3"> Nombre:</dt>
                <dd class="col-sm-9"> nombre del usuario</dd>

                <dt class="col-sm-3">Correo:</dt>
                <dd class="col-sm-9">correo electronico del usuario</dd>

                <dt class="col-sm-3">Teléfono:</dt>
                <dd class="col-sm-9">Telefono del usuario </dd>
              </dl>
<div class="col">
<dl class="row">
<button type="button" class="btn btn-danger btn-lg btn-block">Favoritos</button>
</dl>
</div>

<div class="col-4">
<dl class="row">
<button type="button" class="btn btn-warning">SALIR</button>
</dl>
</div>
          </div>  
</div>  



